*{
    box-sizing: border-box;
}

.top{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(190, 240, 169);
}

section{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-color: rgb(222, 222, 222)

}

button{
    float:left;
    margin-top: 130px;
    padding: 1%;
}

.login{
    float:right;
    margin-top: 130px;
    padding: 1%;
}

h1{
    float:left;
    font-size: 3rem;
    margin: 5% 0 0 15%;
}

img{
    width: 45%;
    float:left;
    margin-left: 5%;
}